<% provide(:title, 'New Message') %>
<h1>Messages#new</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@message) do |f| %>
      <%= f.label :value, "Text" %>
      <%= f.text_field :value %>

      <%= f.label :comment, "Comment" %>
      <%= f.text_field :comment %>

      <%#= f.label :email %>
      <%#= f.email_field :email %>

      <%#= f.label :password %>
      <%#= f.password_field :password %>

      <%#= f.label :password_confirmation, "Confirmation" %>
      <%#= f.password_field :password_confirmation %>

      <%= f.submit "Create new message", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

