<% provide(:title, 'New Pick') %>
<h1>Picks#new</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@pick) do |f| %>
      <%= f.label :context, "Text" %>
      <%= f.text_field :context %>

      <%= f.label :message_id, "Integer" %>
      <%= f.number_field :message_id %>

      <%= f.label :transmit_id, "Integer" %>
      <%= f.number_field :transmit_id %>

      <%#= f.label :email %>
      <%#= f.email_field :email %>

      <%#= f.label :password %>
      <%#= f.password_field :password %>

      <%#= f.label :password_confirmation, "Confirmation" %>
      <%#= f.password_field :password_confirmation %>

      <%= f.submit "Create new pick", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>